/*======================== margin ================ */
/*======================== fin margin ================ */
.clear_b:after,
.clear_b:before {
  content: "";
  clear: both;
  display: table;
}
/*Widths*/
.w10 {
  width: 10%;
  min-height: 1px;
}
.w10:after,
.w10:before {
  content: "";
  clear: both;
  display: table;
}
.w20 {
  width: 20%;
  min-height: 1px;
}
.w20:after,
.w20:before {
  content: "";
  clear: both;
  display: table;
}
.w30 {
  width: 30%;
  min-height: 1px;
}
.w30:after,
.w30:before {
  content: "";
  clear: both;
  display: table;
}
.w40 {
  width: 40%;
  min-height: 1px;
}
.w40:after,
.w40:before {
  content: "";
  clear: both;
  display: table;
}
.w50 {
  width: 50%;
  min-height: 1px;
}
.w50:after,
.w50:before {
  content: "";
  clear: both;
  display: table;
}
.w60 {
  width: 60%;
  min-height: 1px;
}
.w60:after,
.w60:before {
  content: "";
  clear: both;
  display: table;
}
.w70 {
  width: 70%;
  min-height: 1px;
}
.w70:after,
.w70:before {
  content: "";
  clear: both;
  display: table;
}
.w80 {
  width: 80%;
  min-height: 1px;
}
.w80:after,
.w80:before {
  content: "";
  clear: both;
  display: table;
}
.w90 {
  width: 90%;
  min-height: 1px;
}
.w90:after,
.w90:before {
  content: "";
  clear: both;
  display: table;
}
.w100 {
  width: 100%;
  min-height: 1px;
}
.w100:after,
.w100:before {
  content: "";
  clear: both;
  display: table;
}
/*======================== fin Widths ================ */
/*Slider*/
.slider {
  position: relative;
  height: 400px!important;
  width: 100%;
}
.slider.fullscreen {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider.fullscreen ul.slides {
  height: 100%;
}
.slider.fullscreen ul.indicators {
  z-index: 2;
  bottom: 30px;
}
.slider .slides {
  margin: 0;
  height: 400px;
}
.slider .slides li {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: inherit;
  overflow: hidden;
}
.slider .slides li img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.slider .slides li .caption {
  color: #fff;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  opacity: 0;
}
.slider .slides li .caption p {
  color: red;
}
.slider .slides li.active {
  z-index: 2;
}
.slider .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0;
  z-index: 2;
}
.slider .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 12px;
  background-color: #fff;
  transition: background-color 0.3s;
  border-radius: 50%;
}
.slider .indicators .indicator-item.active {
  background-color: #feba15;
}
/*Gradiente*/
/*Clases ↓↓↓↓*/
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.boton {
  width: 116px;
  text-align: center;
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 4px 0;
  display: block;
}
/*CONTENIDO ↓↓↓↓*/
body {
  font-family: 'gotham_blackregular', sans-serif;
  background-color: #fff;
  color: #282828;
}
.container-fluid {
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 1100px) {
  .container-fluid {
    width: auto;
  }
}
header:after,
section:after,
footer:after,
header:before,
section:before,
footer:before {
  content: "";
  clear: both;
  display: table;
}
header {
  height: 87px;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  background-image: -webkit-gradient(linear, top top, right top, from(#fff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
  background-image: -ms-linear-gradient(top, #fff, #f2f2f2);
  background-image: -o-linear-gradient(top, #fff, #f2f2f2);
  border-bottom: 5px solid #bbbbbb;
}
header h1 a {
  margin-top: 20px;
  display: block;
  background-image: url(../img/logo.png);
  width: 167px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  text-indent: -9999px;
}
header nav {
  font-size: 12px;
  text-align: center;
}
header nav ul {
  display: block;
  width: 100%;
}
header nav ul li {
  width: 14.28571429%;
  float: left;
  margin: 0;
  border-left: 1px solid #b9b9b9;
  box-sizing: border-box;
  height: 86px;
}
header nav ul li a {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 100%;
  text-decoration: none;
  text-shadow: 1px 1px white, -1px -1px #B1B1B1;
  color: #bfbfbf;
  box-sizing: border-box;
}
header nav ul li a:hover {
  background-color: #feba15;
  background-image: -webkit-gradient(linear, top top, right top, from(#feba15), to(#fed53b));
  background-image: -webkit-linear-gradient(top, #feba15, #fed53b);
  background-image: -moz-linear-gradient(top, #feba15, #fed53b);
  background-image: -ms-linear-gradient(top, #feba15, #fed53b);
  background-image: -o-linear-gradient(top, #feba15, #fed53b);
  color: #4f4419;
  border-bottom: 5px solid #a1760c;
}
@media only screen and (max-width: 1100px) {
  header nav {
    position: absolute;
    width: 72px;
    height: 72px;
    cursor: pointer;
    background-image: url(../img/menu.png);
    float: right;
    position: relative;
  }
  header nav ul {
    background-color: rgba(66, 66, 66, 0.69);
    text-align: right;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    display: none;
  }
  header nav ul li {
    border-left: none;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    float: none;
    padding: 10px 0;
  }
  header nav ul li a {
    text-align: center;
    color: #fff;
    text-shadow: none;
  }
}
#banner .controles {
  top: -75px;
  position: relative;
  background-image: url(../img/navegacion.png);
  height: 85px;
  z-index: 2;
  background-position: center;
}
#banner .controles .navegacion {
  top: 5px;
  margin: auto;
  width: 200px;
  height: 100%;
  position: relative;
}
#banner .controles .navegacion > div[class*="arrow"] {
  cursor: pointer;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 64px;
  height: 64px;
  z-index: 3;
  background-position: center center;
  background-repeat: no-repeat;
}
#banner .controles .navegacion > div[class*="arrow"]:hover {
  opacity: .7;
}
#banner .controles .navegacion .arrow1 {
  left: 15px;
  background-image: url(../img/arrow1.png);
}
#banner .controles .navegacion .arrow2 {
  right: 15px;
  background-image: url(../img/arrow2.png);
}
#papas {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ededed+48,bbbbbb+84,c1c1c1+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ededed 48%, #bbbbbb 84%, #c1c1c1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 48%, #bbbbbb 84%, #c1c1c1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #ededed 48%, #bbbbbb 84%, #c1c1c1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c1c1c1', GradientType=0);
  /* IE6-9 */
  height: 436px;
  background-image: url(../img/papas.png);
  background-position: center 0;
}
#papas h2 {
  text-align: right;
  font-size: 56px;
  color: #95091d;
}
#papas h2 span {
  color: #700615;
}
footer {
  background-color: #e2e2e2;
  background-image: url(../img/navegacion-foot.png), url(../img/bg-footer.jpg);
  background-position: center -1px, center;
  background-repeat: no-repeat, repeat;
  height: 130px;
}
footer .copy p {
  background-image: url(../img/copy-right.png);
  background-position: center 0;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 12px;
  padding-top: 15px;
  margin-top: 20px;
}
footer .copy div {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
footer .copy div:hover {
  background-color: #fff;
}
footer .copy div:nth-child(1) {
  background-image: url(../img/faceb.png);
}
footer .copy div:nth-child(2) {
  background-image: url(../img/twit.png);
}
footer .copy div:nth-child(3) {
  background-image: url(../img/g+.png);
}
