@import "Mixins.less";
@import "Flexbox-mixins.less";


// VARIABLES
@background : #fff;
@hover: #feba15;
@menuColor : #4f4419;
@gris : #bfbfbf;
@texto : #282828;
@widthPc : 1280px;
@rojo1 : #95091d;
@rojo2 : #700615;

@movil: ~"only screen and (max-width: 1100px)";

/*Clases ↓↓↓↓*/


.f-l{
	float: left;
}
.f-r{
	float: right;
}
.boton{
	width: 116px;
	text-align: center;
	color: #fff;
	font-size: 26px;
	text-transform: uppercase;
	cursor: pointer;
	padding: 4px 0;
	display: block;
}
/*CONTENIDO ↓↓↓↓*/
body{
	font-family: 'gotham_blackregular', sans-serif;
	background-color: @background;
	color: @texto;
}
.container-fluid{
	width: @widthPc;
	margin-right: auto;
	margin-left: auto;
	@media @movil{
		width: auto;
	}
}

header,section,footer{
	.clear_b;
}

header{
	height: 87px;
	padding: 0;
	box-sizing: border-box;
	.gradient(#fff,#f2f2f2);
	border-bottom: 5px solid #bbbbbb;
	h1{
		a{
			margin-top: 20px;
			display: block;
			background-image: url(../img/logo.png);
			width: 167px;
			height: 40px;
			margin-right: auto;
			margin-left: auto;
			text-indent: -9999px;
		}
	}
	nav{
		font-size: 12px;
		text-align: center;
		ul{
			display: block;
			width: 100%;
			li{
				width: (100% /7);
				float: left;
				margin: 0;
				border-left: 1px solid #b9b9b9;
				box-sizing: border-box;
				height: 86px;
				a{
					display: block;
					.flex-display();
					.align-items(center);
					.justify-content(center);
					.transition(.2s);
					height: 100%;
					text-decoration: none;
					text-shadow: 1px 1px white, -1px -1px #B1B1B1;
					color: @gris;
					box-sizing: border-box;
					&:hover{
						.gradient(#feba15 , #fed53b);
						color: @menuColor;
						border-bottom: 5px solid #a1760c;
					}
				}
			}
		}
		@media @movil{
			position: absolute;
			width: 72px;
			height: 72px;
			cursor: pointer;
			background-image: url(../img/menu.png);
			float: right;
			position: relative;
			ul{
				background-color: rgba(66, 66, 66, 0.69);
				text-align: right;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				position: fixed;
				z-index: 100;
				display: none;
				li{
					border-left: none;
					margin-right: auto;
					margin-left: auto;
					width: 90%;
					float: none;
					padding: 10px 0;
					a{
						text-align: center;
						color: #fff;
						text-shadow: none;
					}
				}
			}
		}
	}
}
#banner{
	.slider{
		}
	.controles{
		top: -75px;
		position: relative;
		background-image: url(../img/navegacion.png);
		height: 85px;
		z-index: 2;
		background-position: center;
		.navegacion{
			top: 5px;
			margin: auto;
			width: 200px;
			height: 100%;
			position: relative;
			&>div[class*="arrow"]{
				cursor: pointer;
				top: 0;
				bottom: 0;
				margin: auto;
				position: absolute;
				width: 64px;
				height: 64px;
				z-index: 3;
				background-position: center center;
				background-repeat: no-repeat;
				&:hover{
					opacity: .7;
				}
			}
			.arrow1{
				left: 15px;
				background-image: url(../img/arrow1.png);
			}
			.arrow2{
				right: 15px;
				background-image: url(../img/arrow2.png);
			}
		}
	}
}
#papas{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ededed+48,bbbbbb+84,c1c1c1+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 48%, #bbbbbb 84%, #c1c1c1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 48%,#bbbbbb 84%,#c1c1c1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 48%,#bbbbbb 84%,#c1c1c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */
	height: 436px;
	background-image: url(../img/papas.png);
	background-position: center 0;
	h2{
		text-align: right;
		font-size: 56px;
		color: @rojo1;
		span{
			color: @rojo2;
		}
	}
}
footer{
	background-color: #e2e2e2;
	background-image: url(../img/navegacion-foot.png), url(../img/bg-footer.jpg);
	background-position: center -1px,center;
	background-repeat: no-repeat, repeat;
	height: 130px;
	.copy{
		p{
			background-image: url(../img/copy-right.png);
			background-position: center 0;
			background-repeat: no-repeat;
			text-align: center;
			font-size: 12px;
			padding-top: 15px;
			margin-top: 20px;
		}
		div{
			display: inline-block;
			width: 50px;
			height: 50px;
			background-position: center center;
			background-repeat: no-repeat;
			margin: 0 10px;
			cursor: pointer;
			.transition();
			&:hover{
				background-color: #fff;
			}
		}
		div:nth-child(1){
			background-image: url(../img/faceb.png);
		}
		div:nth-child(2){
			background-image: url(../img/twit.png);
		}
		div:nth-child(3){
			background-image: url(../img/g+.png);
		}
	}
}