/*======================== margin ================ */

// .generate-margin(10);
// .generate-margin(@n, @i: 1) when (@i =< @n) {
//	 .mt@{i}0 {
// 	margin-top: (@i * 100px / @n);
//	 }
//	 .mr@{i}0 {
// 	margin-right: (@i * 100px / @n);
//	 }
//	 .mb@{i}0 {
// 	margin-bottom: (@i * 100px / @n);
//	 }
//	 .ml@{i}0 {
// 	margin-left: (@i * 100px / @n);
//	 }
//	 .generate-margin(@n, (@i + 1));
// }

/*======================== fin margin ================ */

// Mixing_Limpiar columnas generadas
.clear_b{
	&:after, &:before{
		content: "";
		clear: both;
		display: table;
	}
}

/*Widths*/
.generate-columns(10);

.generate-columns(@n, @i: 1) when (@i =< @n) {
	.w@{i}0 {
		width: (@i * 100% / @n);
		min-height: 1px;
		.clear_b;
	}
	.generate-columns(@n, (@i + 1));
}
/*======================== fin Widths ================ */


.transition(@tiempo: .5s){
	-webkit-transition: all @tiempo ease-in-out;
	-moz-transition: all @tiempo ease-in-out;
	-o-transition: all @tiempo ease-in-out;
	transition: all @tiempo ease-in-out;
}




/*Slider*/
.slider {
	position: relative;
	height: 400px!important;
	width: 100%;

	// Fullscreen slider
	&.fullscreen {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		ul.slides {
			height: 100%;
		}

		ul.indicators {
			z-index: 2;
			bottom: 30px;
		}
	}

	.slides {
		margin: 0;
		height: 400px;

		li {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: inherit;
			overflow: hidden;

			img {
				height: 100%;
				width: 100%;
				background-size: cover;
				background-position: center;
			}

			.caption {
				color: #fff;
				position: absolute;
				top: 15%;
				left: 15%;
				width: 70%;
				opacity: 0;

				p { color: red}
			}

			&.active {
				z-index: 2;
			}
		}
	}

	.indicators {
		position: absolute;
		text-align: center;
		left: 0;
		right: 0;
		bottom: 10px;
		margin: 0;
		z-index: 2;
		.indicator-item {
			display: inline-block;
			position: relative;
			cursor: pointer;
			height: 16px;
			width: 16px;
			margin: 0 12px;
			background-color: #fff;

			transition: background-color .3s;
			border-radius: 50%;

			&.active {
				background-color: @hover;
			}
		}
	}
}