<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SubWay-Fritolay</title>
	<meta name="viewport" content="initial-scale=1">
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/clear.css">
	<link rel="stylesheet" href="css/font-family/font-family.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="js/materialize.min.js"></script>
</head>
<body ng-app="Modulo-carrousel">
	<div class="container-fluid">
		<header class="row">
			<div class="w20 f-l">
				<h1>
					<a href="">Sub Way</a>
				</h1>
			</div>
			<div class="w80 f-l">
				<nav>
					<ul>
						<li>
							<a href="#">
								<img src="img/icon-home.png" alt="Home">
							</a>
						</li>
						<li>
							<a href="#">NATIONAL <br> PROMOTIONS</a>
						</li>
						<li>
							<a href="#">ORDER <br> EQUIPMENT</a>
						</li>
						<li>
							<a href="#">INSTRUCTIONAL <br> VIDEOS</a>
						</li>
						<li>
							<a href="#">FIND YOUR <br> PLANOGRAM</a>
						</li>
						<li>
							<a href="#">INCREASE <br> SALES</a>
						</li>
						<li>
							<a href="#">KEY <br> CONTACT</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<section id="banner">
			<div class="row">
				<div ng-controller="control-carrousel">
					<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
						<uib-slide ng-repeat="slide in slides" active="slide.active" index="slide.id">
							<img ng-src="{{slide.image}}" style="margin:auto;">
							<div class="carousel-caption">
								<!-- <h4>Slide {{slide.id}}</h4>
								<p>{{slide.text}}</p> -->
							</div>
						</uib-slide>
					</uib-carousel>
				</div>
				<!-- <div class="slider">
					<ul class="slides">
						<li>
							<img src="img/banner1.png">
						</li>
						<li>
							<img src="img/banner2.png">
						</li>
						<li>
							<img src="img/banner3.png">
						</li>
					</ul>
				</div> -->
				<div class="controles">
					<div class="navegacion">
						<!-- <div class="arrow1"></div>
						<div class="arrow2"></div> -->
					</div>
				</div>
			</div>
		</section>
		<section id="papas">
			<div class="row">
				<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
					<h2>
						Which flavored <br>
						<span>chips would </span><br>
						like with your <br>
						<span>sandwich today?</span>
					</h2>
				</div>
			</div>
		</section>
		<footer class="row">
			<div class="copy">
				<p>
					© 2013 FRITO-LAY <br>
					NORTH AMERICA, INC.
				</p>
			</div>
		</footer>
	</div>
</body>
<script src ="js/scripts.js"></script>

<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="app.js"></script>
</html>